/* Font sizes pixels units */
$f-xxs: 10px;
$f-xs: 12px;
$f-s: 14px;
$f-m: 16px;
$f-l: 18px;
$f-sl: 20px;
$f-ml: 22px;
$f-xl: 24px;
$f-sxl: 26px;
$f-mxl: 32px;
$f-lxl: 38px;
$f-xxl: 42px;
$f-xxxl: 48px;
