@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: local('Open Sans Light'),
    url('/fonts/OpenSans-Light.woff2') format('woff2'),
    url('/fonts/OpenSans-Light.woff') format('woff'),
    url('/fonts/OpenSans-Light.ttf') format('truetype'),
    url('/fonts/OpenSans-Light.eot') format('embedded-opentype');
    unicode-range: U+000-5FF; /* Latin glyphs */
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Open Sans Regular'),
    url('/fonts/OpenSans-Regular.woff2') format("woff2"),
    url('/fonts/OpenSans-Regular.woff') format("woff"),
    url('/fonts/OpenSans-Regular.ttf') format('truetype'),
    url('/fonts/OpenSans-Regular.eot') format('embedded-opentype');
    unicode-range: U+000-5FF; /* Latin glyphs */
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: local('Open Sans Semibold'),
    url('/fonts/OpenSans-Semibold.woff2') format("woff2"),
    url('/fonts/OpenSans-Semibold.woff') format("woff"),
    url('/fonts/OpenSans-Semibold.ttf') format('truetype'),
    url('/fonts/OpenSans-Semibold.eot') format('embedded-opentype');
    unicode-range: U+000-5FF; /* Latin glyphs */
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('Open Sans Bold'),
    url('/fonts/OpenSans-Bold.woff2') format("woff2"),
    url('/fonts/OpenSans-Bold.woff') format("woff"),
    url('/fonts/OpenSans-Bold.ttf') format('truetype'),
    url('/fonts/OpenSans-Bold.eot') format('embedded-opentype');
    unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
    font-family: 'Hind';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: local('Hind Light'),
    url('/fonts/hind-light-webfont.woff2') format('woff2'),
    url('/fonts/hind-light-webfont.woff') format('woff'),
    url('/fonts/hind-light-webfont.ttf') format('truetype'),
    url('/fonts/hind-light-webfont.eot') format('embedded-opentype');
    unicode-range: U+000-5FF; /* Latin glyphs */
}
@font-face {
    font-family: 'Hind';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Hind Regular'),
    url('/fonts/hind-regular-webfont.woff2') format('woff2'),
    url('/fonts/hind-regular-webfont.woff') format('woff'),
    url('/fonts/hind-regular-webfont.ttf') format('truetype'),
    url('/fonts/hind-regular-webfont.eot') format('embedded-opentype');
    unicode-range: U+000-5FF; /* Latin glyphs */
}
@font-face {
    font-family: 'Hind';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: local('Hind Semibold'),
    url('/fonts/hind-semibold-webfont.woff2') format('woff2'),
    url('/fonts/hind-semibold-webfont.woff') format('woff'),
    url('/fonts/hind-semibold-webfont.ttf') format('truetype'),
    url('/fonts/hind-semibold-webfont.eot') format('embedded-opentype');
    unicode-range: U+000-5FF; /* Latin glyphs */
}
@font-face {
    font-family: 'Hind';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('Hind Bold'),
    url('/fonts/hind-bold-webfont.woff2') format('woff2'),
    url('/fonts/hind-bold-webfont.woff') format('woff'),
    url('/fonts/hind-bold-webfont.ttf') format('truetype'),
    url('/fonts/hind-bold-webfont.eot') format('embedded-opentype');
    unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Montserrat'),
    url('/fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('/fonts/montserrat-regular-webfont.woff') format('woff'),
    url('/fonts/montserrat-regular-webfont.ttf') format('truetype'),
    url('/fonts/montserrat-regular-webfont.eot') format('embedded-opentype');
    unicode-range: U+000-5FF; /* Latin glyphs */
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/montserrat-bold-webfont.eot');
    src: local('montserrat-bold-webfont'),
    url('/fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('/fonts/montserrat-bold-webfont.woff') format('woff'),
    url('/fonts/montserrat-bold-webfont.ttf') format('truetype'),
    url('/fonts/montserrat-bold-webfont.eot') format('embedded-opentype');
    unicode-range: U+000-5FF; /* Latin glyphs */
}